// ====================================================================================
// Objects / Button
// ====================================================================================

.o-btn {
  padding: rem($unit / 2) rem($unit);
  border: solid 1px lighten($gray, 5%);
  border-radius: rem($border-radius);
  background-color: $gray-light;
  @include u-hocus {
    background-color: $gray;
  }

  &.-main {
    color: $white;
    border-color: darken($default-color, 5%);
    background-color: $default-color;
    @include u-hocus {
      background-color: $default-color-dark;
    }
    .t-novice & {
      border-color: darken($novice-color, 5%);
      background-color: $novice-color;
      @include u-hocus {
        background-color: $novice-color-dark;
      }
    }
  }

  transition: $speed / 2 $easing;
}
