// ====================================================================================
// Objects / Form
// ====================================================================================

.o-form {
}

// Label
// ====================================================================================

.o-label,
.o-label_optional {
  display: inline-block;
}

.o-label {
  font-size: rem($form--label-font-size);
  color: $default-color-dark;
  .t-novice & {
    color: $novice-color-dark;
  }
}

.o-label_optional {
  font-size: rem($form--label-optional-font-size);
  font-weight: $bold;
  color: $gray-dark;
  margin-left: rem($unit / 3);
}

.o-label_info-bubble {
  margin-left: rem($unit / 3);
}

// Input
// ====================================================================================

.o-input {
  padding: rem($form--input-padding);
  margin-top: rem($form--input-margin-top);
  margin-bottom: rem($form--input-margin-bottom);

  border: solid 2px darken($gray-light, 5%);
  border-radius: $border-radius;
  background-color: $gray-light;
  &.-error {
    border-color: lighten($danger, 15%);
  }
  transition: border-color $speed $easing;
}
