// ========================================================================================================
// Objects / Wrapper
// ========================================================================================================

.o-wrapper {
  padding: 0 rem($wrapper--padding / 3);
  @media (min-width: $from-tiny) {
    padding: 0 rem($wrapper--padding / 2);
  }
  @media (min-width: $from-medium) {
    padding: 0 rem($wrapper--padding);
  }
}
