// ====================================================================================
// Components / Code Editor
// ====================================================================================

.c-code-editor,
.CodeMirror-wrap {
  height: 100%;
  position: relative;
}

.c-code-editor_nav,
.c-code-editor_tool,
.c-code-editor_no-editor {
  z-index: 1;
  position: absolute;
}

.c-code-editor_tool {
  font-size: rem($code-editor--font-size);
}

// Navigation
// ====================================================================================

.c-code-editor_nav {
  top: 0;
  left: 0;
  right: 0;

  height: rem($code-editor--navigation-height);
  overflow: hidden;

  padding-top: rem($unit / 3);
  background-color: $gray-light;
}

.c-code-editor_quick-menu,
.c-code-editor_tabs-list,
.c-code-editor_create-file-btn {
  display: inline-block;
  vertical-align: baseline;
}

// Quick Menu
// ====================================================================================

.c-code-editor_quick-menu {
  margin: 0 rem($unit / 4);
}

.c-code-editor_quick-menu_toggle-btn {
  height: 100%;
  border: none;
  background-color: $gray-light;
}

// Tab
// ====================================================================================

.c-code-editor_tab {
  display: inline-block;
  padding-right: rem($code-editor--tab-padding * 0.85);
  padding-left: rem($code-editor--tab-padding * 0.85);
  margin-right: rem($code-editor--tab-spacing);

  cursor: pointer;
  font-weight: $light;
  border-top-left-radius: rem($code-editor--border-radius);
  border-top-right-radius: rem($code-editor--border-radius);

  background-color: rgba($color: $white, $alpha: 0.5);
  &:hover,
  &.-active {
    background-color: $white;
  }
  transition: background-color $speed;
}

.c-code-editor_tab_name,
.c-code-editor_tab_close-btn {
  display: inline-block;
  vertical-align: middle;
}

.c-code-editor_tab_action-btn {
  padding: rem($code-editor--tab-padding);
  padding-right: rem($unit / 2);
  border: none;
}

.c-code-editor_tab_name {
  color: rgba($color: $black, $alpha: 0.85);
  font-size: rem($code-editor--tab-font-size);
  .c-code-editor_tab.-active & {
    color: $black;
  }
}

.c-code-editor_tab_close-btn,
.c-code-editor_tab_close-btn_icon {
  width: rem($code-editor--tab-icon-size);
  height: rem($code-editor--tab-icon-size);
}

.c-code-editor_tab_close-btn_icon {
  color: $gray;
  transition: color $speed;
  &:hover {
    color: $danger;
  }
}

// Create File Button
// ====================================================================================

.c-code-editor_create-file-btn {
  width: rem($code-editor--add-btn-size);
  height: rem($code-editor--add-btn-size);
  margin-top: rem($unit / 6);

  color: $white;
  border-radius: 4px;
  background-color: lighten($gray, 10%);
  &:hover {
    background-color: $success;
  }
  transition: background-color $speed;
}

// CodeMirror
// ====================================================================================

.c-code-editor_tool,
.c-code-editor_no-editor {
  top: rem($code-editor--navigation-height);
  bottom: 0;
  right: 0;
  left: 0;
}

.c-code-editor_tool {
  padding-top: rem($unit);
  padding-bottom: rem($unit);
}

.c-code-editor_no-editor {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-code-editor_no-editor_p {
  color: $gray-dark;
  font-weight: $light;
}
