// ====================================================================================
// Modules / Splitter
// ====================================================================================

.c-layout-manager {
  width: 100%;
  height: 100%;
  position: relative;
}

// Handle
// ====================================================================================

.c-layout-manager_handle {
  z-index: 5;
  position: absolute;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  background-color: $gray-dark;

  display: none;
  .c-layout-manager.-split & {
    display: block;
  }
  .c-layout-manager.-horizontal & {
    width: 100%;
    height: $splitter--handle-size;
  }
  .c-layout-manager.-vertical & {
    top: 0;
    bottom: 0;
    width: $splitter--handle-size;
  }
}

// View
// ====================================================================================

.c-layout-manager_view {
  position: absolute;
  display: none;
  &.-show {
    display: block;
    &.-only {
      width: 100%;
      height: 100%;
    }

    .c-layout-manager.-horizontal & {
      width: 100%;
      &.-index--0 {
        top: 0;
      }
      &.-index--1 {
        bottom: 0;
      }
    }
    .c-layout-manager.-vertical & {
      height: 100%;
      &.-index--0 {
        left: 0;
      }
      &.-index--1 {
        right: 0;
      }
    }
  }
}
