// ====================================================================================
// Modules / Splitter
// ====================================================================================

.c-layout-manager {
  width: 100%;
  height: 100%;
  position: relative;
}

.c-layout-manager_handle {
  z-index: 5;
  position: absolute;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  background-color: $gray-dark;

  .c-layout-manager.-horizontal & {
    width: 100%;
    height: $splitter--handle-size;
  }
  .c-layout-manager.-vertical & {
    top: 0;
    bottom: 0;
    width: $splitter--handle-size;
  }
}

.c-layout-manager_view {
  position: absolute;
  .c-layout-manager.-horizontal & {
    width: 100%;
    &:last-child {
      bottom: 0;
    }
  }
  .c-layout-manager.-vertical & {
    height: 100%;
    top: 0;
    &:last-child {
      right: 0;
    }
    display: inline-block;
  }
}
