// ==========================================================================
// Settings / Config / Application
// ==========================================================================

// App
// ======================================================

// Header
// ======================================================

$header--height: 55px;
$header--logo-size: $font-size * 1.4;
$header--btn-size: $unit * 2;
$header--btn-border-radius: 6px;
$header--logo-margin: $unit * 1.3;
