// ====================================================================================
// Settings / Config / Application
// ====================================================================================

// General
// ====================================================================================

$border-radius: 3px;

// Objects
// ====================================================================================

$form--label-font-size: 18px;
$form--label-optional-font-size: 12px;
$form--input-padding: $unit / 2;
$form--input-margin-top: $unit / 3;
$form--input-margin-bottom: $unit * 0.75;

// App
// ====================================================================================

$wrapper--padding: 30px;
$wrapper--padding-half: $wrapper--padding / 2;

// Code Editor
// ====================================================================================

$code-editor--font-size: 20px;
$code-editor--navigation-height: 48px;
$code-editor--tab-padding: $unit / 3;
$code-editor--tab-spacing: $unit / 3;
$code-editor--tab-font-size: $font-size * 1.2;
$code-editor--border-radius: 4px;
$code-editor--tab-icon-size: 22px;
$code-editor--add-btn-size: 32px;

// Footer
// ====================================================================================

$footer--height: 36px;
$footer--item-margin: $unit / 3;

// Header
// ====================================================================================

$header--height: 55px;
$header--logo-size: 20px;
$header--separator-width: 8px;
$header--padding: $unit * 3;

$header--btn-size: $unit * 2;
$header--btn-border-radius: 4px;

// Info Bubble
// ====================================================================================

$info-bubble--size: 20px;
$info-bubble--popover-max-width: 350px;

// Modal
// ====================================================================================

$modal--width: 550px;
// $modal--width-large: 400;
$modal--title-font-size: 12px;
$modal--border-radius: 6px;
$modal--footer-margin-top: $unit * 2;
$modal--padding: $unit * 1.5;

// Splitter
// ====================================================================================

$splitter--handle-size: 4px;
