// ====================================================================================
// Components-ui / Modal
// ====================================================================================

$modal--width: 550px;
// $modal--width-large: 400;
$modal--border-radius: 6px;

.c-modal {
  z-index: 20;
  justify-content: center;
  background-color: transparent;
}

.c-modal_box {
  width: rem($modal--width);
  padding: rem($unit);
  border-radius: rem($modal--border-radius);
  background-color: $white;
}

.c-modal_header {
  justify-content: space-between;
  margin-bottom: rem($unit / 2);
}

// Buttons
// ====================================================================================

.c-modal_btn {
  text-align: right;
  &:not(:last-child) {
    margin-right: rem($unit / 2);
  }
}

.c-modal_close-btn_icon {
  color: $gray;
  @include u-hocus {
    color: $danger;
  }
  transition: color $speed / 2 $easing;
}
