// ====================================================================================
// Components / Splitter
// ====================================================================================

.c-splitter {
  width: 100%;
  height: 100%;
  position: relative;
}

.c-splitter_handle {
  z-index: 5;
  position: absolute;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  background-color: $gray-dark;

  .c-splitter.-horizontal & {
    width: 100%;
    height: $splitter--handle-size;
  }
  .c-splitter.-vertical & {
    top: 0;
    bottom: 0;
    width: $splitter--handle-size;
  }
}

.c-splitter_view {
  position: absolute;
  .c-splitter.-horizontal & {
    width: 100%;
    &:last-child {
      bottom: 0;
    }
  }
  .c-splitter.-vertical & {
    height: 100%;
    top: 0;
    &:last-child {
      right: 0;
    }
    display: inline-block;
  }
}
