// ====================================================================================
// Components / Splitter
// ====================================================================================

$splitter--handle-size: 4px;

.c-splitter {
  width: 100%;
  height: 100%;
  position: relative;
}

.c-splitter_handle {
  z-index: 100;
  position: absolute;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  background-color: $gray;

  .c-splitter.-horizontal & {
    width: 100%;
    height: $splitter--handle-size;
  }
  .c-splitter.-vertical & {
    top: 0;
    bottom: 0;
    width: $splitter--handle-size;
  }
}

.c-splitter_view {
  position: relative;
  .c-splitter.-horizontal & {
    width: 100%;
  }
  .c-splitter.-vertical & {
    height: 100%;
    display: inline-block;
  }
}
